.containers {

    margin-top: 100px;

}


@import url('https://fonts.googleapis.com/css2?family=Orator+W01&display=swap');

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444444;
    margin-bottom: 60px;



    width: 65%;

}

.containers1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

}



.article {


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;






    gap: 20px;
    padding-bottom: 50px;



}

.card {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 20px;
    flex-direction: row;
    width: 70%;








}



.title>h1 {
    font-size: 35px;
    margin: 0;

}

.title>p {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .title>h1 {

        font-size: 19px;
    }

    .title>p {
        margin: 15px;
        font-size: 15px;
    }

}