.ctn1 {

    display: flex;
    width: 100%;
    background-color: #f6f1eb;
    position: fixed;
    justify-content: flex-end;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.ctn2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 50%;

}


.gauche {
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;

}

.droite {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;


}

.logo {
    height: 60px;
}

p {
    margin: 0;
    padding: 0;

}

.text {
    color: black;
    font-size: 15px;
    text-decoration: none;

}


.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    background-color: red;
    padding: 0;


}

.btnn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}





@media screen and (max-width: 768px) {

    .text {
        display: none;
    }

    .droite {
        gap: 5px;
        justify-content: space-evenly;
        padding: 0;
    }

    .gauche {
        width: 150px;
    }

    .ctn1 {
        justify-content: center;
    }

    .ctn2 {
        justify-content: space-between;
        width: 100%;
    }










}