.ctn1 {

    display: flex;

    width: 100%;
    justify-content: center;

    background-color: #f6f1eb;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);




}

.ctn2 {

    display: flex;
    height: 100%;
    width: 95%;
    align-items: center;
    gap: 10px;
    color: white;
    justify-content: space-between;
    margin: 15px;




}

.gauche {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 90%;


    color: black;

}

.droite {
    display: flex;
    gap: 10px;
}

.logo {
    height: 40px;
}

p {
    margin: 0;
    padding: 0;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;



}